app{
  background-color: #f2f2f2;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  background-color: white;
  display: flex;
  justify-content: center;
}
h2{
  background-color: white;
  margin-left: 2%;
}
/* White container which holds all elements*/
.parent-container{
  width: 90vw;
  background-color: white;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(115,105,115,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(115,105,115,1);
  box-shadow: 0px 0px 30px 0px rgba(115,105,115,1);
}
/* Date Component Design*/
.date-container{
  background-color: white;
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
}
.button-container{
  margin-left: 2.5%;
  margin-top: 1.25%;
}
.graph-section{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}